.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.portfolio-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  padding: 350px 600px;
  z-index: 1000;
  overflow: scroll;

  h2 {
    color: #000;
  }
  p {
    color: #000;
  }

  .closeButn {
    padding: 50px;
  }
}
